<%= form_with model: @user do |form| %>

  <div class="form-group form-wrapper">
      <h1>Edit User</h1>

     <div><%= image_tag @user.profile, style: 'width:100px;' %> </div>
      <div>
        <%= form.label :name, class:" col-form-label" %>
        <%= form.text_field :name, class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <div>
        <%= form.label :email_address, class:" col-form-label"%>
        <%= form.text_field :email, class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <% if admin? %>

      <div>
        <%= form.label :Role, class:" col-form-label" %>
        <%= form.select(:role, options_for_select([0,1], selected: @user.role.to_i) )%>
      </div>
      
      <% end %>
    
      <div>
        <%= form.label :phone, class:" col-form-label" %>
        <%= form.text_field :phone, class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <div>
        <%= form.label :date_of_birth, class:" col-form-label" %>
        <%= form.date_field :dob, class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <div>
        <%= form.label :address, class:" col-form-label" %>
        <%= form.text_area :address, class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
        <div>
        <%= form.label :profile, class:" col-form-label" %>
        <%= form.file_field :profile, :accept => "image/x-png,image/gif,image/jpeg", class:"form-control" %>
        <% @user.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <%= form.submit "Done", class:"btn button1 mv-20" %>
      <%= link_to "Back", 'javascript:history.go(-1);', class:"btn button1 button2 mv-20" %>
    </div>
    
  <% end %>