<div class= "not-card not-card1">
<h1 class="float-left">Users</h1>
<table id="table_id" class="table">

<thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Created User</th>
    <th>Type</th>
    <th>Phone</th>
    <th>DOB</th>
    <th>Address</th>
    
   
    <th>Operations</th>
   
    </tr>
</thead>

<tbody>
    <tr>
    <% @users.each do |user| %>
        <td> <%= user.id %> </td>
        <td><%= link_to user.name, user_path(user), {:remote => true, 'data-toggle' =>  "modal"} %></td>
        <td> <%= user.email %> </td>
        <td> <%= user.name %> </td>
        <td> <%= user.role == "0" ? 'Admin' : 'User'  %> </td>
        <td> <%= user.phone %> </td>
        <td> <%= user.dob %> </td>
        <td> <%= user.address %> </td>
        
       
        <td>
        <%= link_to "Delete", user_path(user.id), class: 'btn button1 button2',
        method: :delete,
        data: { confirm: "Are you sure?" } %>
        </td>
        

        </tr>

    <% end %>
</tbody>
</table>
<div id="userDetail" class="modal fade" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:700px"></div>
  </div>
</div>
</div>


