<%= form_with model: @post do |form| %>
  
  <div class="form-group form-wrapper">
    <h1>Confirm Edited Post</h1>
    <div>
      <%= form.label :title, class:" col-form-label" %>
      <%= form.text_field :title, class:"form-control" %>
      <% @post.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :description, class:" col-form-label" %>
      <%= form.text_area :description, class:"form-control" %>
      <% @post.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div class="field form-group row">
    <%= form.label :status, class:"col-sm-2 col-form-label" %>
      <div class="custom-switch align-self-center">
          <%= form.check_box :status, class:"custom-control-input", id: "customSwitch1" %>
          <label class="custom-control-label" for="customSwitch1"></label>
      </div>
    </div>
    

    <div>
      <%= form.submit "Confirm", class:"btn button1 mv-20" %>
      <%= link_to 'Back', posts_path, class:"btn button1 button2 mv-20" %>
    </div>
  </div>
<% end %>