<%= form_with model: @post do |form| %>
  <div class="form-group form-wrapper">
    <h1>Confirm Post</h1>
    <div>
      <%= form.label :title, class:" col-form-label" %><br>
      <%= form.text_field :title, readonly: 'true', class:"form-control" %>
      
    </div>

    <div>
      <%= form.label :description, class:" col-form-label" %><br>
      <%= form.text_area :description, readonly: 'true', class:"form-control" %><br>
      
    </div>

    <div>
      <%= form.submit "Confirm", class:"btn button1 mv-20" %>
      <%= link_to "Cancel", 'javascript:history.go(-1);', class:"btn button1 button2 mv-20" %>
    </div>
  </div>
<% end %>